@model Footballer
<h2>Редактирование футболиста</h2>
<form asp-action="Edit" asp-controller="Home" >
    <p>
        <label asp-for="FirstName">Имя</label><br />
        <input type="text" asp-for="FirstName" required/>
    </p>
    <p>
        <label asp-for="LastName">Фамилия</label><br />
        <input type="text" asp-for="LastName" required />
    </p>
    <p>
        <label asp-for="Sex">Пол</label><br />
        <select asp-for="Sex" asp-items="Html.GetEnumSelectList<Sex>()"></select>
    </p>
    <input type="date" asp-for="Birthday"    />
    <p>
        <label asp-for="Country">Страна</label><br />
        <select asp-for="Country" asp-items="Html.GetEnumSelectList<Country>()"></select>
    </p>
    <p>
        <label asp-for="TeamName">Команда</label><br />
        <select asp-for="TeamName" id="teamSelection" onchange="toggleCustomTeamInput(this)">
        @foreach (var item in @ViewBag.Teams){
            <option value="@item.Name">@item.Name</option>
        }
        <option value="other_team">Выбрать другую</option>
        </select>
        <div id="customTeamContainer" style="display: none;">
            <label asp-for="TeamName">Введите название команды:</label>
            <input type="text" name="customName"/>
        </div>
        
    </p>
    <p>
        <input type="submit" value="Изменить" />
    </p>
</form>

@section scripts {
        <script>
            var customTeamSelect = document.getElementById("teamSelection");
            var customTeamInput = document.getElementById("teamInput");
               function toggleCustomTeamInput() {
                    if (customTeamSelect.value === "other_team"){
                            document.getElementById("customTeamContainer").style.display = 'block';
                    }
                        if (customTeamSelect.value !== "other_team"){
                                document.getElementById("customTeamContainer").style.display = 'none';
                                customTeamInput.value = '';
                        }
                }

        </script>
}