@model Footballer

<h2>Редактирование футболиста</h2>
<form asp-action="Edit" asp-controller="Home" asp-route-id="@Model.Id" >
        <input type="hidden" asp-for="Id" value="@Model.Id"/>
    <p>
        <label asp-for="FirstName">Имя</label><br />
        <input type="text" asp-for="FirstName" />
    </p>
    <p>
        <label asp-for="LastName">Фамилия</label><br />
        <input type="text" asp-for="LastName" />
    </p>
    <p>
        <label asp-for="Sex">Пол</label><br />
        <select asp-for="Sex" asp-items="Html.GetEnumSelectList<Sex>()"></select>
    </p>
    <input type="date" asp-for="Birthday"    />
    <p>
        <label asp-for="Country">Страна</label><br />
        <select asp-for="Country" asp-items="Html.GetEnumSelectList<Country>()"></select>
    </p>
    <p>
        <label asp-for="TeamName">Команда</label><br />
        @foreach (var item in ViewBag.Teams)
        {
                    <select asp-for="TeamName" value="@item.Name">@item.Name</select>
        }

    </p>
    </p>
    <p>
        <input type="submit" value="Сохранить" />
    </p>
</form>